<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cotton Sarees - Kumaran Sarees</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <script src="/static/js/script.js"></script>

</head>
<body>

    <header>
        <h1>KUMARAN SAREES</h1>
        <nav>
            <a href="/">Home</a>
            <div class="dropdown">
                <a href="#" class="dropdown-toggle">Saree</a>
                <div class="dropdown-menu">
                    <a href="/category/cotton_saree">Cotton Saree</a>
                    <a href="/category/plain_saree">Plain Saree</a>
                    <a href="/category/fancy_saree">Fancy Saree</a>
                    <a href="/category/fancy_pattu_saree">Fancy Pattu Saree</a>
                </div>
            </div>
            <div class="dropdown">
                <a href="#" class="dropdown-toggle">Blouse</a>
                <div class="dropdown-menu">
                    <!-- Blouse varieties to be added later -->
                </div>
            </div>
            <div class="dropdown">
                <a href="#" class="dropdown-toggle">Nighty</a>
                <div class="dropdown-menu">
                    <a href="/category/xl_nighties">Nighty XL Size</a>

                    <!-- Nighty varieties to be added later -->
                </div>
            </div>
            <div class="dropdown">
                <a href="#" class="dropdown-toggle">Chudi</a>
                <div class="dropdown-menu">
                    <a href="/category/l_size_chudi">Chudi L size</a>
                    <a href="/category/xl_size_chudi">Chudi XL size</a>
                    <a href="/category/xxl_size_chudi">Chudi XXL size</a>
                    <a href="/category/xxxl_size_chudi">Chudi XXXL size</a>
                    <!-- Chudi varieties to be added later -->
                </div>
            </div>
        </nav>
    </header>
    <main>
        <h2>Available Models</h2>
        <h1>Summer Cotton Sarees with Blouse</h1>
        <h1>Summer Cotton Sarees without Blouse</h1>
        <h2>Scroll Below to view all Cotton Sarees </h2>

        <div class="products">
            <div class="product">
                <img src="/static/images/products/blue_cotton_saree_with_blouse1.jpg" alt="Blue Cotton Saree With Blouse1">
                <h3>Blue Cotton Saree With Blouse1</h3>
                <p>Fabric: Cotton</p>
                <p>Price: ₹650</p>
                <p>Stock: 1</p>
            </div>
            <div class="product">
                <img src="/static/images/products/blue_cotton_saree_with_blouse.jpg" alt="Blue Cotton Saree With Blouse">
                <h3>Blue Cotton Saree With Blouse</h3>
                <p>Fabric: Cotton</p>
                <p>Price: ₹650</p>
                <p>Stock: 1</p>
            </div>
            <div class="product">
                <img src="/static/images/products/blue_cotton_saree_without_blouse.jpg" alt="Blue Cotton Saree Without Blouse">
                <h3>Blue Cotton Saree Without Blouse</h3>
                <p>Fabric: Cotton</p>
                <p>Price: ₹500</p>
                <p>Stock: 2</p>
            </div>
            <div class="product">
                <img src="/static/images/products/blue_cotton_saree_without_blouse1.jpg" alt="Blue Cotton Saree Without Blouse1">
                <h3>Blue Cotton Saree Without Blouse1</h3>
                <p>Fabric: Cotton</p>
                <p>Price: ₹500</p>
                <p>Stock: 2</p>
            </div>
            <div class="product">
                <img src="/static/images/products/green_cotton_saree_without_blouse1.jpg" alt="Green Cotton Saree Without Blouse">
                <h3>Green Cotton Saree Without Blouse</h3>
                <p>Fabric: Cotton</p>
                <p>Price: ₹500</p>
                <p>Stock: 2</p>
            </div>

            <div class="product">
                <img src="/static/images/products/green_cotton_saree_without_blouse2.jpg" alt="Green Cotton Saree Without Blouse2">
                <h3>Green Cotton Saree Without Blouse2</h3>
                <p>Fabric: Cotton</p>
                <p>Price: ₹500</p>
                <p>Stock: 2</p>
            </div>
            <div class="product">
                <img src="/static/images/products/green_cotton_saree_without_blouse3.jpg" alt="Green Cotton Saree Without Blouse3">
                <h3>Green Cotton Saree Without Blouse3</h3>
                <p>Fabric: Cotton</p>
                <p>Price: ₹500</p>
                <p>Stock: 2</p>
            </div>
            <div class="product">
                <img src="/static/images/products/grey_cotton_saree_without_blouse.jpg" alt="Grey Cotton Saree Without Blouse">
                <h3>Grey Cotton Saree Without Blouse</h3>
                <p>Fabric: Cotton</p>
                <p>Price: ₹500</p>
                <p>Stock: 2</p>
            </div>
            <div class="product">
                <img src="/static/images/products/meroon_cotton_saree_without_blouse.jpg" alt="Maroon Cotton Saree Without Blouse">
                <h3>Maroon Cotton Saree Without Blouse</h3>
                <p>Fabric: Cotton</p>
                <p>Price: ₹500</p>
                <p>Stock: 1</p>
            </div>
            <div class="product">
                <img src="/static/images/products/pink_cotton_saree_without_blouse.jpg" alt="Pink Cotton Saree Without Blouse1">
                <h3>Pink Cotton Saree Without Blouse1</h3>
                <p>Fabric: Cotton</p>
                <p>Price: ₹500</p>
                <p>Stock: 1</p>
            </div>
            <div class="product">
                <img src="/static/images/products/rose_cotton_saree_without_blouse.jpg" alt="Rose Cotton Saree Without Blouse2">
                <h3>Rose Cotton Saree Without Blouse2</h3>
                <p>Fabric: Cotton</p>
                <p>Price: ₹500</p>
                <p>Stock: 1</p>
            </div>
            <div class="product">
                <img src="/static/images/products/yellow_cotton_saree_with_blouse.jpg" alt="Yellow Cotton Saree With Blouse">
                <h3>Yellow Cotton Saree With Blouse</h3>
                <p>Fabric: Cotton</p>
                <p>Price: ₹650</p>
                <p>Stock: 1</p>
            </div>
            <div class="product">
                <img src="/static/images/products/yellow_cotton_saree_without_blouse.jpg" alt="Yellow Cotton Saree Without Blouse">
                <h3>Yellow Cotton Saree Without Blouse</h3>
                <p>Fabric: Cotton</p>
                <p>Price: ₹500</p>
                <p>Stock: 1</p>
            </div>
            <div class="product">
                <img src="/static/images/products/yellow_cotton_saree_without_blouse1.jpg" alt="Yellow Cotton Saree Without Blouse1">
                <h3>Yellow Cotton Saree Without Blouse1</h3>
                <p>Fabric: Cotton</p>
                <p>Price: ₹500</p>
                <p>Stock: 1</p>
            </div>
            <div class="product">
                <img src="/static/images/products/sky_blue_cotton_saree_with_blouse1.jpg" alt="Sky Blue Cotton Saree With Blouse">
                <h3>Sky Blue Cotton Saree With Blouse</h3>
                <p>Fabric: Cotton</p>
                <p>Price: ₹650</p>
                <p>Stock: 1</p>
            </div>
            <div class="product">
                <img src="/static/images/products/sky_blue_cotton_saree_with_blouse2.jpg" alt="Sky Blue Cotton Saree With Blouse1">
                <h3>Sky Blue Cotton Saree With Blouse1</h3>
                <p>Fabric: Cotton</p>
                <p>Price: ₹650</p>
                <p>Stock: 1</p>
            </div>
            <div class="product">
                <img src="/static/images/products/sky_blue_cotton_saree_with_blouse3.jpg" alt="Sky Blue Cotton Saree With Blouse2">
                <h3>Sky Blue Cotton Saree With Blouse2</h3>
                <p>Fabric: Cotton</p>
                <p>Price: ₹650</p>
                <p>Stock: 1</p>
            </div>

        </div>
    </main>
    <a href="https://wa.me/+916369535994?text=Hi%20Kumaran%20Sarees%2C%20I%27m%20interested%20in%20your%20products!"
       target="_blank" class="whatsapp-button">
        <img src="/static/images/whatsapp.png" alt="WhatsApp" style="width:30px; height:30px;">
        Contact Us
    </a>
    <footer>
        <p><strong>Address:</strong> Kumaran Sarees, Savadi Street,Uthukottai-602026 ,Tamil Nadu</p>
        <p><strong>Contact:</strong> Kumaran Sarees, +91 6369535994</p>
    </footer>
</body>
</html>