<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kumaran Sarees</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <script src="/static/js/script.js"></script>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">


</head>
<body>

    <header>
        <h1>KUMARAN SAREES</h1>
        <nav>
            <a href="/">Home</a>
            <div class="dropdown">
                <a href="#" class="dropdown-toggle">Saree</a>
                <div class="dropdown-menu">
                    <a href="/category/cotton_saree">Cotton Saree</a>
                    <a href="/category/plain_saree">Plain Saree</a>
                    <a href="/category/fancy_saree">Fancy Saree</a>
                    <a href="/category/fancy_pattu_saree">Fancy Pattu Saree</a>
                </div>
            </div>
            <div class="dropdown">
                <a href="#" class="dropdown-toggle">Blouse</a>
                <div class="dropdown-menu">
                    <a href="/category/design_blouse">Design Blouse</a>
                    <!-- Blouse varieties to be added later -->
                </div>
            </div>
            <div class="dropdown">
                <a href="#" class="dropdown-toggle">Nighty</a>
                <div class="dropdown-menu">
                    <a href="/category/xl_nighties">Nighty XL Size</a>

                    <!-- Nighty varieties to be added later -->
                </div>
            </div>
            <div class="dropdown">
                <a href="#" class="dropdown-toggle">Chudi</a>
                <div class="dropdown-menu">
                    <a href="/category/l_size_chudi">Chudi L size</a>
                    <a href="/category/xl_size_chudi">Chudi XL size</a>
                    <a href="/category/xxl_size_chudi">Chudi XXL size</a>
                    <a href="/category/xxxl_size_chudi">Chudi XXXL size</a>
                    <!-- Chudi varieties to be added later -->
                </div>
            </div>
        </nav>
    </header>
    <main>
        <h2>Available Models</h2>
        <h2>Design Blouse</h2>
        <h2>Top and Dress Materials</h2>

        <h4>Scroll down to see all Materials</h4>
        <div class="products">
            <div class="product">
                <img src="/static/images/blouse/net_cloth_material_1.jpg" alt="Net Cloth Material">

                <h3>Purpose: Dress and Blouse Material</h3>
                <p>Fabric:  net cloth with jari checked</p>
                <p>Height: 44 inches</p>
                <p>Price: ₹200/metre</p>

            </div>
            <div class="product">
                <img src="/static/images/blouse/net_cloth_material_2.jpg" alt="Net Cloth Material">
                <h3>Purpose: Dress and Blouse Material</h3>
                <p>Fabric:  net cloth with jari checked</p>
                <p>Height: 44 inches</p>
                <p>Price: ₹200/metre</p>

            </div>
            <div class="product">
                <img src="/static/images/blouse/net_cloth_material_3.jpg" alt="Net Cloth Material">
                <h3>Purpose: Dress and Blouse Material</h3>
                <p>Fabric:  net cloth with jari checked</p>
                <p>Height: 44 inches</p>
                <p>Price: ₹200/metre</p>

            </div>
            <div class="product">
                <img src="/static/images/blouse/fancy_cotton_material_1.jpg" alt="Fancy Cotton  Material">
                <h3>Purpose: Dress and Blouse Material</h3>
                <p>Fabric:  Fancy Cotton  Material</p>
                <p>Height: 44 inches</p>
                <p>Price: ₹180/metre</p>

            </div>
            <div class="product">
                <img src="/static/images/blouse/fancy_cotton_material_2.jpg" alt="Fancy Cotton  Material">
                <h3>Purpose: Dress and Blouse Material</h3>
                <p>Fabric:  Fancy Cotton  Material</p>
                <p>Height: 44 inches</p>
                <p>Price: ₹180/metre</p>

            </div>
            <div class="product">
                <img src="/static/images/blouse/fancy_cotton_material_3.jpg" alt="Fancy Cotton  Material">
                <h3>Purpose: Dress and Blouse Material</h3>
                <p>Fabric:  Fancy Cotton  Material</p>
                <p>Height: 44 inches</p>
                <p>Price: ₹180/metre</p>

            </div>
            <div class="product">
                <img src="/static/images/blouse/fancy_cotton_material_4.jpg" alt="Fancy Cotton  Material">
                <h3>Purpose: Dress and Blouse Material</h3>
                <p>Fabric:  Fancy Cotton  Material</p>
                <p>Height: 44 inches</p>
                <p>Price: ₹180/metre</p>

            </div>
            <div class="product">
                <img src="/static/images/blouse/fancy_cotton_material_5.jpg" alt="Fancy Cotton  Material">
                <h3>Purpose: Dress and Blouse Material</h3>
                <p>Fabric:  Fancy Cotton  Material</p>
                <p>Height: 44 inches</p>
                <p>Price: ₹180/metre</p>

            </div>
            <div class="product">
                <img src="/static/images/blouse/fancy_cotton_material_6.jpg" alt="Fancy Cotton  Material">
                <h3>Purpose: Dress and Blouse Material</h3>
                <p>Fabric:  Fancy Cotton  Material</p>
                <p>Height: 44 inches</p>
                <p>Price: ₹180/metre</p>

            </div>
            <div class="product">
                <img src="/static/images/blouse/fancy_cotton_material_7.jpg" alt="Fancy Cotton  Material">
                <h3>Purpose: Dress and Blouse Material</h3>
                <p>Fabric:  Fancy Cotton  Material</p>
                <p>Height: 44 inches</p>
                <p>Price: ₹180/metre</p>

            </div>
            <div class="product">
                <img src="/static/images/blouse/fancy_cotton_material_8.jpg" alt="Fancy Cotton  Material">
                <h3>Purpose: Dress and Blouse Material</h3>
                <p>Fabric:  Fancy Cotton  Material</p>
                <p>Height: 44 inches</p>
                <p>Price: ₹180/metre</p>

            </div>
            <div class="product">
                <img src="/static/images/blouse/fancy_cotton_material_9.jpg" alt="Fancy Cotton  Material">
                <h3>Purpose: Dress and Blouse Material</h3>
                <p>Fabric:  Fancy Cotton  Material</p>
                <p>Height: 44 inches</p>
                <p>Price: ₹180/metre</p>

            </div>
            <div class="product">
                <img src="/static/images/blouse/fancy_cotton_material_10.jpg" alt="Fancy Cotton  Material">
                <h3>Purpose: Dress and Blouse Material</h3>
                <p>Fabric:  Fancy Cotton  Material</p>
                <p>Height: 44 inches</p>
                <p>Price: ₹180/metre</p>

            </div>
            <div class="product">
                <img src="/static/images/blouse/tasar_silk_material_2.jpg" alt="Tasar Silk Material">
                <h3>Purpose: Dress and Blouse Material</h3>
                <p>Fabric:  Fancy Cotton  Material</p>
                <p>Height: 44 inches</p>
                <p>Price: ₹220/metre</p>

            </div>
            <div class="product">
                <img src="/static/images/blouse/tasar_silk_material_2.jpg" alt="Tasar Silk Material">
                <h3>Purpose: Dress and Blouse Material</h3>
                <p>Fabric:  Fancy Cotton  Material</p>
                <p>Height: 44 inches</p>
                <p>Price: ₹220/metre</p>

            </div>
            <div class="product">
                <img src="/static/images/blouse/fancy_cotton_material250_1.jpg" alt="Fancy Cotton Material">
                <h3>Purpose: Dress and Blouse Material</h3>
                <p>Fabric:  Fancy Cotton  Material</p>
                <p>Height: 44 inches</p>
                <p>Price: ₹250/metre</p>

            </div>
            <div class="product">
                <img src="/static/images/blouse/fancy_cotton_material250_2.jpg" alt="Fancy Cotton Material">
                <h3>Purpose: Dress and Blouse Material</h3>
                <p>Fabric:  Fancy Cotton  Material</p>
                <p>Height: 44 inches</p>
                <p>Price: ₹250/metre</p>

            </div>
            <div class="product">
                <img src="/static/images/blouse/digital_silk_1.jpg" alt="Digital Silk Material">
                <h3>Purpose: Dress and Blouse Material</h3>
                <p>Fabric:  Digital Silk  Material</p>
                <p>Height: 44 inches</p>
                <p>Price: ₹250/metre</p>

            </div>
            <div class="product">
                <img src="/static/images/blouse/digital_silk_2.jpg" alt="Digital Silk Material">
                <h3>Purpose: Dress and Blouse Material</h3>
                <p>Fabric:  Digital Silk  Material</p>
                <p>Height: 44 inches</p>
                <p>Price: ₹250/metre</p>

            </div>
            <div class="product">
                <img src="/static/images/blouse/digital_silk_3.jpg" alt="Digital Silk Material">
                <h3>Purpose: Dress and Blouse Material</h3>
                <p>Fabric:  Digital Silk  Material</p>
                <p>Height: 44 inches</p>
                <p>Price: ₹250/metre</p>

            </div>
            <div class="product">
                <img src="/static/images/blouse/digital_silk_4.jpg" alt="Digital Silk Material">
                <h3>Purpose: Dress and Blouse Material</h3>
                <p>Fabric:  Digital Silk  Material</p>
                <p>Height: 44 inches</p>
                <p>Price: ₹250/metre</p>

            </div>
            <div class="product">
                <img src="/static/images/blouse/digital_silk_5.jpg" alt="Digital Silk Material">
                <h3>Purpose: Dress and Blouse Material</h3>
                <p>Fabric:  Digital Silk  Material</p>
                <p>Height: 44 inches</p>
                <p>Price: ₹250/metre</p>

            </div>
            <div class="product">
                <img src="/static/images/blouse/rayon_digital_printed_1.jpg" alt="Rayon Digital Printed Material">
                <h3>Purpose: Dress and Blouse Material</h3>
                <p>Fabric:  Rayon Digital Printed Material</p>
                <p>Height: 44 inches</p>
                <p>Price: ₹200/metre</p>

            </div>
            <div class="product">
                <img src="/static/images/blouse/rayon_digital_printed_2.jpg" alt="Rayon Digital Printed Material">
                <h3>Purpose: Dress and Blouse Material</h3>
                <p>Fabric:  Rayon Digital Printed Material</p>
                <p>Height: 44 inches</p>
                <p>Price: ₹200/metre</p>

            </div>
            <div class="product">
                <img src="/static/images/blouse/tissue_digital_printed_1.jpg" alt="Tissue Digital Printed Material">
                <h3>Purpose: Dress and Blouse Material</h3>
                <p>Fabric:  Tissue Digital Printed Material</p>
                <p>Height: 44 inches</p>
                <p>Price: ₹220/metre</p>

            </div>
            <div class="product">
                <img src="/static/images/blouse/tissue_digital_printed_2.jpg" alt="Tissue Digital Printed Material">
                <h3>Purpose: Dress and Blouse Material</h3>
                <p>Fabric:  Tissue Digital Printed Material</p>
                <p>Height: 44 inches</p>
                <p>Price: ₹220/metre</p>

            </div>
            <div class="product">
                <img src="/static/images/blouse/tissue_digital_printed_3.jpg" alt="Tissue Digital Printed Material">
                <h3>Purpose: Dress and Blouse Material</h3>
                <p>Fabric:  Tissue Digital Printed Material</p>
                <p>Height: 44 inches</p>
                <p>Price: ₹220/metre</p>

            </div>
            <div class="product">
                <img src="/static/images/blouse/rayon_digital_printed_2ndtype_1.jpg" alt="Rayon Digital Printed Material">
                <h3>Purpose: Dress and Blouse Material</h3>
                <p>Fabric:  Rayon Digital Printed Material</p>
                <p>Height: 44 inches</p>
                <p>Price: ₹250/metre</p>

            </div>
            <div class="product">
                <img src="/static/images/blouse/rayon_digital_printed_2ndtype_2.jpg" alt="Rayon Digital Printed Material">
                <h3>Purpose: Dress and Blouse Material</h3>
                <p>Fabric:  Rayon Digital Printed Material</p>
                <p>Height: 44 inches</p>
                <p>Price: ₹250/metre</p>

            </div>
            <div class="product">
                <img src="/static/images/blouse/rayon_digital_printed_2ndtype_3.jpg" alt="Rayon Digital Printed Material">
                <h3>Purpose: Dress and Blouse Material</h3>
                <p>Fabric:  Rayon Digital Printed Material</p>
                <p>Height: 44 inches</p>
                <p>Price: ₹250/metre</p>

            </div>
            <div class="product">
                <img src="/static/images/blouse/rayon_digital_printed_2ndtype_4.jpg" alt="Rayon Digital Printed Material">
                <h3>Purpose: Dress and Blouse Material</h3>
                <p>Fabric:  Rayon Digital Printed Material</p>
                <p>Height: 44 inches</p>
                <p>Price: ₹250/metre</p>

            </div>
            <div class="product">
                <img src="/static/images/blouse/rayon_digital_printed_2ndtype_5.jpg" alt="Rayon Digital Printed Material">
                <h3>Purpose: Dress and Blouse Material</h3>
                <p>Fabric:  Rayon Digital Printed Material</p>
                <p>Height: 44 inches</p>
                <p>Price: ₹250/metre</p>
            </div>
            <div class="product">
                <img src="/static/images/blouse/cotton_printed_embroidery_1.jpg" alt="Cotton Embroidery Printed Material">
                <h3>Purpose: Dress and Blouse Material</h3>
                <p>Fabric:  Cotton Embroidery Printed Material</p>
                <p>Height: 44 inches</p>
                <p>Price: ₹250/metre</p>
            </div>
            <div class="product">
                <img src="/static/images/blouse/cotton_printed_embroidery_2.jpg" alt="Cotton Embroidery Printed Material">
                <h3>Purpose: Dress and Blouse Material</h3>
                <p>Fabric:  Cotton Embroidery Printed Material</p>
                <p>Height: 44 inches</p>
                <p>Price: ₹250/metre</p>
            </div>
            <div class="product">
                <img src="/static/images/blouse/cotton_printed_embroidery_3.jpg" alt="Cotton Embroidery Printed Material">
                <h3>Purpose: Dress and Blouse Material</h3>
                <p>Fabric:  Cotton Embroidery Printed Material</p>
                <p>Height: 44 inches</p>
                <p>Price: ₹250/metre</p>
            </div>
            <div class="product">
                <img src="/static/images/blouse/cotton_printed_embroidery_4.jpg" alt="Cotton Embroidery Printed Material">
                <h3>Purpose: Dress and Blouse Material</h3>
                <p>Fabric:  Cotton Embroidery Printed Material</p>
                <p>Height: 44 inches</p>
                <p>Price: ₹250/metre</p>
            </div>
            <div class="product">
                <img src="/static/images/blouse/cotton_printed_embroidery_5.jpg" alt="Cotton Embroidery Printed Material">
                <h3>Purpose: Dress and Blouse Material</h3>
                <p>Fabric:  Cotton Embroidery Printed Material</p>
                <p>Height: 44 inches</p>
                <p>Price: ₹250/metre</p>
            </div>
            <div class="product">
                <img src="/static/images/blouse/cotton_printed_embroidery_6.jpg" alt="Cotton Embroidery Printed Material">
                <h3>Purpose: Dress and Blouse Material</h3>
                <p>Fabric:  Cotton Embroidery Printed Material</p>
                <p>Height: 44 inches</p>
                <p>Price: ₹250/metre</p>
            </div>
            <div class="product">
                <img src="/static/images/blouse/cotton_printed_embroidery_7.jpg" alt="Cotton Embroidery Printed Material">
                <h3>Purpose: Dress and Blouse Material</h3>
                <p>Fabric:  Cotton Embroidery Printed Material</p>
                <p>Height: 44 inches</p>
                <p>Price: ₹250/metre</p>
            </div>
            <div class="product">
                <img src="/static/images/blouse/cotton_printed_embroidery_8.jpg" alt="Cotton Embroidery Printed Material">
                <h3>Purpose: Dress and Blouse Material</h3>
                <p>Fabric:  Cotton Embroidery Printed Material</p>
                <p>Height: 44 inches</p>
                <p>Price: ₹250/metre</p>
            </div>
            <div class="product">
                <img src="/static/images/blouse/cotton_printed_embroidery_9.jpg" alt="Cotton Embroidery Printed Material">
                <h3>Purpose: Dress and Blouse Material</h3>
                <p>Fabric:  Cotton Embroidery Printed Material</p>
                <p>Height: 44 inches</p>
                <p>Price: ₹250/metre</p>
            </div>
            <div class="product">
                <img src="/static/images/blouse/cotton_printed_embroidery_10.jpg" alt="Cotton Embroidery Printed Material">
                <h3>Purpose: Dress and Blouse Material</h3>
                <p>Fabric:  Cotton Embroidery Printed Material</p>
                <p>Height: 44 inches</p>
                <p>Price: ₹250/metre</p>
            </div>
            <div class="product">
                <img src="/static/images/blouse/cotton_printed_embroidery_11.jpg" alt="Cotton Embroidery Printed Material">
                <h3>Purpose: Dress and Blouse Material</h3>
                <p>Fabric:  Cotton Embroidery Printed Material</p>
                <p>Height: 44 inches</p>
                <p>Price: ₹250/metre</p>
            </div>
            <div class="product">
                <img src="/static/images/blouse/rayon_digital_printed_embroidery_1.jpg" alt="Rayon Digital Printed Embroidery Material">
                <h3>Purpose: Dress and Blouse Material</h3>
                <p>Fabric:  Rayon Digital Printed Embroidery Material</p>
                <p>Height: 32 inches</p>
                <p>Price: ₹180/metre</p>
            </div>
            <div class="product">
                <img src="/static/images/blouse/rayon_digital_printed_embroidery_2.jpg" alt="Rayon Digital Printed Embroidery Material">
                <h3>Purpose: Dress and Blouse Material</h3>
                <p>Fabric:  Rayon Digital Printed Embroidery Material</p>
                <p>Height: 32 inches</p>
                <p>Price: ₹180/metre</p>
            </div>
            <div class="product">
                <img src="/static/images/blouse/rayon_digital_printed_embroidery_3.jpg" alt="Rayon Digital Printed Embroidery Material">
                <h3>Purpose: Dress and Blouse Material</h3>
                <p>Fabric:  Rayon Digital Printed Embroidery Material</p>
                <p>Height: 32 inches</p>
                <p>Price: ₹180/metre</p>
            </div>
            <div class="product">
                <img src="/static/images/blouse/rayon_digital_printed_embroidery_4.jpg" alt="Rayon Digital Printed Embroidery Material">
                <h3>Purpose: Dress and Blouse Material</h3>
                <p>Fabric:  Rayon Digital Printed Embroidery Material</p>
                <p>Height: 32 inches</p>
                <p>Price: ₹180/metre</p>
            </div>
            <div class="product">
                <img src="/static/images/blouse/rayon_digital_printed_embroidery_5.jpg" alt="Rayon Digital Printed Embroidery Material">
                <h3>Purpose: Dress and Blouse Material</h3>
                <p>Fabric:  Rayon Digital Printed Embroidery Material</p>
                <p>Height: 32 inches</p>
                <p>Price: ₹170/metre</p>
            </div>
            <div class="product">
                <img src="/static/images/blouse/rayon_digital_printed_embroidery_6.jpg" alt="Rayon Digital Printed Embroidery Material">
                <h3>Purpose: Dress and Blouse Material</h3>
                <p>Fabric:  Rayon Digital Printed Embroidery Material</p>
                <p>Height: 32 inches</p>
                <p>Price: ₹170/metre</p>
            </div>
            <div class="product">
                <img src="/static/images/blouse/rayon_digital_printed_embroidery_7.jpg" alt="Rayon Digital Printed Embroidery Material">
                <h3>Purpose: Dress and Blouse Material</h3>
                <p>Fabric:  Rayon Digital Printed Embroidery Material</p>
                <p>Height: 32 inches</p>
                <p>Price: ₹170/metre</p>
            </div>
            <div class="product">
                <img src="/static/images/blouse/rayon_digital_printed_embroidery_8.jpg" alt="Rayon Digital Printed Embroidery Material">
                <h3>Purpose: Dress and Blouse Material</h3>
                <p>Fabric:  Rayon Digital Printed Embroidery Material</p>
                <p>Height: 32 inches</p>
                <p>Price: ₹170/metre</p>
            </div>
            <div class="product">
                <img src="/static/images/blouse/rayon_digital_printed_embroidery_9.jpg" alt="Rayon Digital Printed Embroidery Material">
                <h3>Purpose: Dress and Blouse Material</h3>
                <p>Fabric:  Rayon Digital Printed Embroidery Material</p>
                <p>Height: 32 inches</p>
                <p>Price: ₹170/metre</p>
            </div>
            <div class="product">
                <img src="/static/images/blouse/rayon_digital_printed_embroidery_10.jpg" alt="Rayon Digital Printed Embroidery Material">
                <h3>Purpose: Dress and Blouse Material</h3>
                <p>Fabric:  Rayon Digital Printed Embroidery Material</p>
                <p>Height: 32 inches</p>
                <p>Price: ₹170/metre</p>
            </div>
            <div class="product">
                <img src="/static/images/blouse/rayon_digital_printed_embroidery_11.jpg" alt="Rayon Digital Printed Embroidery Material">
                <h3>Purpose: Dress and Blouse Material</h3>
                <p>Fabric:  Rayon Digital Printed Embroidery Material</p>
                <p>Height: 32 inches</p>
                <p>Price: ₹170/metre</p>
            </div>
            <div class="product">
                <img src="/static/images/blouse/rayon_digital_printed_embroidery_12.jpg" alt="Rayon Digital Printed Embroidery Material">
                <h3>Purpose: Dress and Blouse Material</h3>
                <p>Fabric:  Rayon Digital Printed Embroidery Material</p>
                <p>Height: 32 inches</p>
                <p>Price: ₹170/metre</p>
            </div>
            <div class="product">
                <img src="/static/images/blouse/rayon_digital_printed_embroidery_13.jpg" alt="Rayon Digital Printed Embroidery Material">
                <h3>Purpose: Dress and Blouse Material</h3>
                <p>Fabric:  Rayon Digital Printed Embroidery Material</p>
                <p>Height: 32 inches</p>
                <p>Price: ₹170/metre</p>
            </div>
            <div class="product">
                <img src="/static/images/blouse/rayon_digital_printed_embroidery_14.jpg" alt="Rayon Digital Printed Embroidery Material">
                <h3>Purpose: Dress and Blouse Material</h3>
                <p>Fabric:  Rayon Digital Printed Embroidery Material</p>
                <p>Height: 32 inches</p>
                <p>Price: ₹170/metre</p>
            </div>
            <div class="product">
                <img src="/static/images/blouse/rayon_digital_printed_embroidery_15.jpg" alt="Rayon Digital Printed Embroidery Material">
                <h3>Purpose: Dress and Blouse Material</h3>
                <p>Fabric:  Rayon Digital Printed Embroidery Material</p>
                <p>Height: 32 inches</p>
                <p>Price: ₹170/metre</p>
            </div>
            <div class="product">
                <img src="/static/images/blouse/rayon_digital_printed_embroidery_16.jpg" alt="Rayon Digital Printed Embroidery Material">
                <h3>Purpose: Dress and Blouse Material</h3>
                <p>Fabric:  Rayon Digital Printed Embroidery Material</p>
                <p>Height: 32 inches</p>
                <p>Price: ₹170/metre</p>
            </div>
            <div class="product">
                <img src="/static/images/blouse/rayon_digital_printed_embroidery_17.jpg" alt="Rayon Digital Printed Embroidery Material">
                <h3>Purpose: Dress and Blouse Material</h3>
                <p>Fabric:  Rayon Digital Printed Embroidery Material</p>
                <p>Height: 32 inches</p>
                <p>Price: ₹170/metre</p>
            </div>
            <div class="product">
                <img src="/static/images/blouse/rayon_digital_printed_embroidery_18.jpg" alt="Rayon Digital Printed Embroidery Material">
                <h3>Purpose: Dress and Blouse Material</h3>
                <p>Fabric:  Rayon Digital Printed Embroidery Material</p>
                <p>Height: 32 inches</p>
                <p>Price: ₹170/metre</p>
            </div>
            <div class="product">
                <img src="/static/images/blouse/rayon_digital_printed_embroidery_19.jpg" alt="Rayon Digital Printed Embroidery Material">
                <h3>Purpose: Dress and Blouse Material</h3>
                <p>Fabric:  Rayon Digital Printed Embroidery Material</p>
                <p>Height: 32 inches</p>
                <p>Price: ₹170/metre</p>
            </div>
            <div class="product">
                <img src="/static/images/blouse/rayon_digital_printed_embroidery_20.jpg" alt="Rayon Digital Printed Embroidery Material">
                <h3>Purpose: Dress and Blouse Material</h3>
                <p>Fabric:  Rayon Digital Printed Embroidery Material</p>
                <p>Height: 32 inches</p>
                <p>Price: ₹170/metre</p>
            </div>
            <div class="product">
                <img src="/static/images/blouse/rayon_digital_printed_embroidery_21.jpg" alt="Rayon Digital Printed Embroidery Material">
                <h3>Purpose: Dress and Blouse Material</h3>
                <p>Fabric:  Rayon Digital Printed Embroidery Material</p>
                <p>Height: 32 inches</p>
                <p>Price: ₹170/metre</p>
            </div>
            <div class="product">
                <img src="/static/images/blouse/rayon_digital_printed_embroidery_22.jpg" alt="Rayon Digital Printed Embroidery Material">
                <h3>Purpose: Dress and Blouse Material</h3>
                <p>Fabric:  Rayon Digital Printed Embroidery Material</p>
                <p>Height: 32 inches</p>
                <p>Price: ₹170/metre</p>
            </div>
            <div class="product">
                <img src="/static/images/blouse/rayon_digital_printed_embroidery_23.jpg" alt="Rayon Digital Printed Embroidery Material">
                <h3>Purpose: Dress and Blouse Material</h3>
                <p>Fabric:  Rayon Digital Printed Embroidery Material</p>
                <p>Height: 32 inches</p>
                <p>Price: ₹170/metre</p>
            </div>
            <div class="product">
                <img src="/static/images/blouse/rayon_digital_printed_embroidery_24.jpg" alt="Rayon Digital Printed Embroidery Material">
                <h3>Purpose: Dress and Blouse Material</h3>
                <p>Fabric:  Rayon Digital Printed Embroidery Material</p>
                <p>Height: 32 inches</p>
                <p>Price: ₹170/metre</p>
            </div>
            <div class="product">
                <img src="/static/images/blouse/rayon_digital_printed_embroidery_25.jpg" alt="Rayon Digital Printed Embroidery Material">
                <h3>Purpose: Dress and Blouse Material</h3>
                <p>Fabric:  Rayon Digital Printed Embroidery Material</p>
                <p>Height: 32 inches</p>
                <p>Price: ₹170/metre</p>
            </div>
            <div class="product">
                <img src="/static/images/blouse/rayon_digital_printed_embroidery_26.jpg" alt="Rayon Digital Printed Embroidery Material">
                <h3>Purpose: Dress and Blouse Material</h3>
                <p>Fabric:  Rayon Digital Printed Embroidery Material</p>
                <p>Height: 32 inches</p>
                <p>Price: ₹170/metre</p>
            </div>




                







        </div>
    </main>
    <a href="https://wa.me/+916369535994?text=Hi%20Kumaran%20Sarees%2C%20I%27m%20interested%20in%20your%20products!"
       target="_blank" class="whatsapp-button">
        <img src="/static/images/whatsapp.png" alt="WhatsApp" style="width:30px; height:30px;">
        Contact Us
    </a>
    <footer>
        <p><strong>Address:</strong> Kumaran Sarees, Savadi Street, Uthukottai-602026, Tamil Nadu</p>
        <p><strong>Contact:</strong> +91 6369535994</p>
        <script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>

    </footer>
<script>
  window.va = window.va || function () { (window.vaq = window.vaq || []).push(arguments); };
</script>
<script defer src="/_vercel/insights/script.js"></script>
</body>
</html>