<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Silk Sarees - Kumaran Sarees</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <script src="/static/js/script.js"></script>

</head>
<body>
<df-messenger
  intent="WELCOME"
  chat-title="KS Chatbot"
  agent-id="5031c4d1-bcd0-4404-b2fb-80cd9aee2e31"
  language-code="en"
></df-messenger>
    <header>
        <h1>KUMARAN SAREES</h1>
        <nav>
            <a href="/">Home</a>
            <div class="dropdown">
                <a href="#" class="dropdown-toggle">Saree</a>
                <div class="dropdown-menu">
                    <a href="/category/cotton_saree">Cotton Saree</a>
                    <a href="/category/plain_saree">Plain Saree</a>
                    <a href="/category/fancy_saree">Fancy Saree</a>
                    <a href="/category/fancy_pattu_saree">Fancy Pattu Saree</a>
                </div>
            </div>
            <div class="dropdown">
                <a href="#" class="dropdown-toggle">Blouse</a>
                <div class="dropdown-menu">
                    <!-- Blouse varieties to be added later -->
                </div>
            </div>
            <div class="dropdown">
                <a href="#" class="dropdown-toggle">Nighty</a>
                <div class="dropdown-menu">
                    <a href="/category/xl_nighties">Nighty XL Size</a>

                    <!-- Nighty varieties to be added later -->
                </div>
            </div>
            <div class="dropdown">
                <a href="#" class="dropdown-toggle">Chudi</a>
                <div class="dropdown-menu">
                    <a href="/category/l_size_chudi">Chudi L size</a>
                    <a href="/category/xl_size_chudi">Chudi XL size</a>
                    <!-- Chudi varieties to be added later -->
                </div>
            </div>
        </nav>
    </header>
    <main>
        <h2>Available Models</h2>
        <h1>Fancy Saree</h1>
        <h1>Fancy Linen Saree</h1>
        <h2>Scroll Below to view all Fancy Sarees </h2>


        <div class="products">
            <div class="product">
                <img src="/static/images/products/raibow_fancy_saree.jpg" alt="Rainbow Fancy Saree">
                <h3>Rainbow Fancy Saree</h3>
                <p>Fabric: Fancy Saree</p>
                <p>Price: ₹1100</p>
                <p>Stock: 1</p>
            </div>
            <div class="product">
                <img src="/static/images/products/white_gold_fancy_saree.jpg" alt="White Gold Fancy Saree">
                <h3>White Gold Fancy Saree</h3>
                <p>Fabric: Fancy Saree</p>
                <p>Price: ₹999</p>
                <p>Stock: 1</p>
            </div>
            <div class="product">
                <img src="/static/images/products/pink_gold_fancy_saree.jpg" alt="Pink Gold FancySaree">
                <h3>Pink Gold Fancy Saree</h3>
                <p>Fabric: Fancy Saree</p>
                <p>Price: ₹999</p>
                <p>Stock: 1</p>
            </div>
            <div class="product">
                <img src="/static/images/products/pink_white_fancy_saree.jpg" alt="Pink White Fancy Saree">
                <h3>Pink White Fancy Saree</h3>
                <p>Fabric: Fancy Saree</p>
                <p>Price: ₹999</p>
                <p>Stock: 1</p>
            </div>
            <div class="product">
                <img src="/static/images/products/pink_flower_fancy_saree.jpg" alt="Pink Flower Fancy Saree">
                <h3>Pink Flower Fancy Saree</h3>
                <p>Fabric: Fancy Saree</p>
                <p>Price: ₹999</p>
                <p>Stock: 1</p>
            </div>
            <div class="product">
                <img src="/static/images/products/orange_white_fancy_saree.jpg" alt="Orange White Fancy Saree">
                <h3>Orange White Fancy Saree</h3>
                <p>Fabric: Fancy Saree</p>
                <p>Price: ₹1100</p>
                <p>Stock: 1</p>
            </div>
            <div class="product">
                <img src="/static/images/products/orange_black_fancy_saree.jpg" alt="Orange Black Fancy Saree">
                <h3>Orange White Black Saree</h3>
                <p>Fabric: Fancy Saree</p>
                <p>Price: ₹999</p>
                <p>Stock: 1</p>
            </div>
            <div class="product">
                <img src="/static/images/products/green_white_fancy_saree.jpg" alt="Green White Fancy Saree">
                <h3>Green White Fancy Saree</h3>
                <p>Fabric: Fancy Saree</p>
                <p>Price: ₹1100</p>
                <p>Stock: 1</p>
            </div>
            <div class="product">
                <img src="/static/images/products/brown_fancy_saree.jpg" alt="Brown Fancy Saree">
                <h3>Brown Fancy Saree</h3>
                <p>Fabric: Fancy Saree</p>
                <p>Price: ₹999</p>
                <p>Stock: 1</p>
            </div>
            <div class="product">
                <img src="/static/images/products/blue_fancy_saree.jpg" alt="Blue Fancy Saree">
                <h3>Blue Fancy Saree</h3>
                <p>Fabric: Fancy Saree</p>
                <p>Price: ₹999</p>
                <p>Stock: 1</p>
            </div>
            <div class="product">
                <img src="/static/images/products/black_white_fancy_saree.jpg" alt="Black White Fancy Saree">
                <h3>Black White Fancy Saree</h3>
                <p>Fabric: Fancy Saree</p>
                <p>Price: ₹1100</p>
                <p>Stock: 1</p>
            </div>
            <div class="product">
                <img src="/static/images/products/white_lined_linen_saree.jpg" alt="White Lined linen Saree">
                <h3>White Lined linen Saree</h3>
                <p>Fabric: Fancy Saree</p>
                <p>Price: ₹750</p>
                <p>Stock: 1</p>
            </div>
            <div class="product">
                <img src="/static/images/products/white_flowered_linen_saree.jpg" alt="White Flowerd linen Saree">
                <h3>White Flowerd linen Saree</h3>
                <p>Fabric: Fancy Saree</p>
                <p>Price: ₹750</p>
                <p>Stock: 1</p>
            </div>
            <div class="product">
                <img src="/static/images/products/rose_flowered_embroider_linen_saree.jpg" alt="Rose Flowerd Embroider linen Saree">
                <h3>Rose Flowerd Embroider linen Saree</h3>
                <p>Fabric: Fancy Saree</p>
                <p>Price: ₹800</p>
                <p>Stock: 1</p>
            </div>
             <div class="product">
                <img src="/static/images/products/pink_flowered_linen_saree.jpg" alt="Pink Flowerd  linen Saree">
                <h3>Pink Flowerd  linen Saree</h3>
                <p>Fabric: Fancy Saree</p>
                <p>Price: ₹750</p>
                <p>Stock: 1</p>
            </div>
             <div class="product">
                <img src="/static/images/products/pink_flowered_embroider_linen_saree.jpg" alt="Pink Flowerd Embroider linen Saree">
                <h3>Pink Flowerd Embroider linen Saree</h3>
                <p>Fabric: Fancy Saree</p>
                <p>Price: ₹800</p>
                <p>Stock: 1</p>
            </div>
             <div class="product">
                <img src="/static/images/products/multicolor_flowered_embroider_linen_saree.jpg" alt="Multicolor Flowerd Embroider linen Saree">
                <h3>Multicolor Flowerd Embroider linen Saree</h3>
                <p>Fabric: Fancy Saree</p>
                <p>Price: ₹800</p>
                <p>Stock: 1</p>
            </div>
             <div class="product">
                <img src="/static/images/products/light_rose_flowered_embroider_linen_saree.jpg" alt="Light Rose Flowerd Embroider linen Saree">
                <h3>Light Rose Flowerd Embroider linen Saree</h3>
                <p>Fabric: Fancy Saree</p>
                <p>Price: ₹800</p>
                <p>Stock: 1</p>
            </div>
             <div class="product">
                <img src="/static/images/products/light_pink_flowered_embroider_linen_saree.jpg" alt="Light Pink Flowerd Embroider linen Saree">
                <h3>Light Pink Flowerd Embroider linen Saree</h3>
                <p>Fabric: Fancy Saree</p>
                <p>Price: ₹800</p>
                <p>Stock: 1</p>
            </div>
             <div class="product">
                <img src="/static/images/products/light_brown_flowered_embroider_linen_saree.jpg" alt="Light Brown Flowerd Embroider linen Saree">
                <h3>Light Brown Flowerd Embroider linen Saree</h3>
                <p>Fabric: Fancy Saree</p>
                <p>Price: ₹800</p>
                <p>Stock: 1</p>
            </div>
             <div class="product">
                <img src="/static/images/products/green_flowered_linen_saree.jpg" alt="Green Flowerd linen Saree">
                <h3>Green Flowerd linen Saree</h3>
                <p>Fabric: Fancy Saree</p>
                <p>Price: ₹750</p>
                <p>Stock: 1</p>
            </div>
             <div class="product">
                <img src="/static/images/products/green_flowered_embroider_linen_saree.jpg" alt="Green Flowerd Embroider linen Saree">
                <h3>Green Flowerd Embroider linen Saree</h3>
                <p>Fabric: Fancy Saree</p>
                <p>Price: ₹800</p>
                <p>Stock: 1</p>
            </div>
             <div class="product">
                <img src="/static/images/products/grayish_green_linen_saree.jpg" alt="Greyish Green linen Saree">
                <h3>Greyish Green linen Saree</h3>
                <p>Fabric: Fancy Saree</p>
                <p>Price: ₹750</p>
                <p>Stock: 1</p>
            </div>
             <div class="product">
                <img src="/static/images/products/brown_flowered_linen_saree.jpg" alt="Brown Flowerd  linen Saree">
                <h3>Brown Flowerd  linen Saree</h3>
                <p>Fabric: Fancy Saree</p>
                <p>Price: ₹750</p>
                <p>Stock: 1</p>
            </div>
             <div class="product">
                <img src="/static/images/products/brown_flowered_embroider_linen_saree.jpg" alt="Brown Flowerd Embroider linen Saree">
                <h3>Brown Flowerd Embroider linen Saree</h3>
                <p>Fabric: Fancy Saree</p>
                <p>Price: ₹800</p>
                <p>Stock: 1</p>
            </div>
             <div class="product">
                <img src="/static/images/products/blue_flowered_embroider_linen_saree.jpg" alt="Blue Flowerd Embroider linen Saree">
                <h3>Blue Flowerd Embroider linen Saree</h3>
                <p>Fabric: Fancy Saree</p>
                <p>Price: ₹800</p>
                <p>Stock: 1</p>
            </div>

        </div>
    </main>
    <a href="https://wa.me/+916369535994?text=Hi%20Kumaran%20Sarees%2C%20I%27m%20interested%20in%20your%20products!"
       target="_blank" class="whatsapp-button">
        <img src="/static/images/whatsapp.png" alt="WhatsApp" style="width:30px; height:30px;">
        Contact Us
    </a>
    <footer>
<p><strong>Address:</strong> Kumaran Sarees, Savadi Street,Uthukottai-602026 ,Tamil Nadu</p>
        <p><strong>Contact:</strong> Kumaran Sarees, 6369535994</p>
    </footer>
</body>
</html>