<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Silk Sarees - Kumaran Sarees</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <header>
        <h1>Fancy Sarees</h1>
        <nav>
            <a href="/">Home</a>
            <a href="/category/cotton_saree">Cotton Sarees</a>
            <a href="/category/plain_saree">Plain Sarees</a>
            <a href="/category/fancy_saree">Fancy Sarees</a>
        </nav>
    </header>
    <main>
        <div class="products">
            <div class="product">
                <img src="/static/images/products/raibow_fancy_saree.jpg" alt="Rainbow Fancy Saree">
                <h3>Rainbow Fancy Saree</h3>
                <p>Fabric: Fancy Saree</p>
                <p>Price: ₹1100</p>
                <p>Stock: 1</p>
            </div>
            <div class="product">
                <img src="/static/images/products/white_gold_fancy_saree.jpg" alt="White Gold Fancy Saree">
                <h3>White Gold Fancy Saree</h3>
                <p>Fabric: Fancy Saree</p>
                <p>Price: ₹999</p>
                <p>Stock: 1</p>
            </div>
            <div class="product">
                <img src="/static/images/products/pink_gold_fancy_saree.jpg" alt="Pink Gold FancySaree">
                <h3>Pink Gold Fancy Saree</h3>
                <p>Fabric: Fancy Saree</p>
                <p>Price: ₹999</p>
                <p>Stock: 1</p>
            </div>
            <div class="product">
                <img src="/static/images/products/pink_white_fancy_saree.jpg" alt="Pink White Fancy Saree">
                <h3>Pink White Fancy Saree</h3>
                <p>Fabric: Fancy Saree</p>
                <p>Price: ₹999</p>
                <p>Stock: 1</p>
            </div>
            <div class="product">
                <img src="/static/images/products/pink_flower_fancy_saree.jpg" alt="Pink Flower Fancy Saree">
                <h3>Pink Flower Fancy Saree</h3>
                <p>Fabric: Fancy Saree</p>
                <p>Price: ₹999</p>
                <p>Stock: 1</p>
            </div>
            <div class="product">
                <img src="/static/images/products/orange_white_fancy_saree.jpg" alt="Orange White Fancy Saree">
                <h3>Orange White Fancy Saree</h3>
                <p>Fabric: Fancy Saree</p>
                <p>Price: ₹1100</p>
                <p>Stock: 1</p>
            </div>
            <div class="product">
                <img src="/static/images/products/orange_black_fancy_saree.jpg" alt="Orange Black Fancy Saree">
                <h3>Orange White Black Saree</h3>
                <p>Fabric: Fancy Saree</p>
                <p>Price: ₹999</p>
                <p>Stock: 1</p>
            </div>
            <div class="product">
                <img src="/static/images/products/green_white_fancy_saree.jpg" alt="Green White Fancy Saree">
                <h3>Green White Fancy Saree</h3>
                <p>Fabric: Fancy Saree</p>
                <p>Price: ₹1100</p>
                <p>Stock: 1</p>
            </div>
            <div class="product">
                <img src="/static/images/products/brown_fancy_saree.jpg" alt="Brown Fancy Saree">
                <h3>Brown Fancy Saree</h3>
                <p>Fabric: Fancy Saree</p>
                <p>Price: ₹999</p>
                <p>Stock: 1</p>
            </div>
            <div class="product">
                <img src="/static/images/products/blue_fancy_saree.jpg" alt="Blue Fancy Saree">
                <h3>Blue Fancy Saree</h3>
                <p>Fabric: Fancy Saree</p>
                <p>Price: ₹999</p>
                <p>Stock: 1</p>
            </div>
            <div class="product">
                <img src="/static/images/products/black_white_fancy_saree.jpg" alt="Black White Fancy Saree">
                <h3>Black White Fancy Saree</h3>
                <p>Fabric: Fancy Saree</p>
                <p>Price: ₹1100</p>
                <p>Stock: 1</p>
            </div>
        </div>
    </main>
    <a href="https://wa.me/+916369535994?text=Hi%20Kumaran%20Sarees%2C%20I%27m%20interested%20in%20your%20products!"
       target="_blank" class="whatsapp-button">
        <img src="/static/images/whatsapp.png" alt="WhatsApp" style="width:30px; height:30px;">
        Contact Us
    </a>
    <footer>
<p><strong>Address:</strong> Kumaran Sarees, Savadi Street,Uthukottai-602026 ,Tamil Nadu</p>
        <p><strong>Contact:</strong> Kumaran Sarees, 6369535994</p>
    </footer>
</body>
</html>