<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kumaran Sarees</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <script src="/static/js/script.js"></script>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">


</head>
<body>
<df-messenger
  intent="WELCOME"
  chat-title="KS Chatbot"
  agent-id="5031c4d1-bcd0-4404-b2fb-80cd9aee2e31"
  language-code="en"
></df-messenger>
    <header>
        <h1>KUMARAN SAREES</h1>
        <nav>
            <a href="/">Home</a>
            <div class="dropdown">
                <a href="#" class="dropdown-toggle">Saree</a>
                <div class="dropdown-menu">
                    <a href="/category/cotton_saree">Cotton Saree</a>
                    <a href="/category/plain_saree">Plain Saree</a>
                    <a href="/category/fancy_saree">Fancy Saree</a>
                    <a href="/category/fancy_pattu_saree">Fancy Pattu Saree</a>
                </div>
            </div>
            <div class="dropdown">
                <a href="#" class="dropdown-toggle">Blouse</a>
                <div class="dropdown-menu">
                    <a href="/category/design_blouse_36">Design Blouse(36 inches)</a>
                    <a href="/category/design_blouse_44">DesignBlouse(44 inches)</a>
                    <!-- Blouse varieties to be added later -->
                </div>
            </div>
            <div class="dropdown">
                <a href="#" class="dropdown-toggle">Nighty</a>
                <div class="dropdown-menu">
                    <a href="/category/xl_nighties">Nighty XL Size</a>
                    <a href="/category/xxl_nighties">Nighty XXL Size</a>
                    <a href="/category/xxxl_nighties">Nighty XXXL Size</a>

                    <!-- Nighty varieties to be added later -->
                </div>
            </div>
            <div class="dropdown">
                <a href="#" class="dropdown-toggle">Chudi</a>
                <div class="dropdown-menu">
                    <a href="/category/l_size_chudi">Chudi L size</a>
                    <a href="/category/xl_size_chudi">Chudi XL size</a>
                    <a href="/category/xxl_size_chudi">Chudi XXL size</a>
                    <a href="/category/xxxl_size_chudi">Chudi XXXL size</a>
                    <!-- Chudi varieties to be added later -->
                </div>
            </div>
            

        </nav>
    </header>
    <main>
        <h2>Daily Updates</h2>
        <h2>29 JUNE 2025 xxxl Nighties have been added</h2>
        <h2>Shop timing: 9.30AM to 8.00PM</h2>

        <h2>Featured Products</h2>

        <div class="product">
    <video src="/static/images/video/orange_kuppadam_Pattu.mp4" autoplay loop controls></video>
    <h3>Orange Kuppadam Pattu</h3>
    <p>Fabric: Pattu Saree</p>
    <p>Price: ₹6700</p>
    <p>Stock: 1</p>
</div>



        <div class="product">
    <img src="/static/images/products/yellow_pink_fancy_pattu_saree.jpg" alt="Yellow Pink Fancy Pattu Saree">
    <h3>Yellow Pink Fancy Pattu Saree</h3>
    <p>Fabric: Fancy Pattu Saree</p>
    <p>Price: ₹3000</p>
    <p>Stock: 1</p>
</div>
            <div class="product">
                <img src="/static/images/blouse/rayon_digital_printed_1.jpg" alt="Rayon Digital Printed Material">
                <h3>Purpose: Dress and Blouse Material</h3>
                <p>Fabric:  Rayon Digital Printed Material</p>
                <p>Height: 44 inches</p>
                <p>Price: ₹200/metre</p>
            </div>
            <div class="product">
                <img src="/static/images/products/white_gold_fancy_saree.jpg" alt="White Gold Fancy Saree">
                <h3>White Gold Fancy Saree</h3>
                <p>Fabric: Fancy Saree</p>
                <p>Price: ₹999</p>
                <p>Stock: 1</p>
                </div>
            <div class="product">
    <img src="/static/images/nighties/pranjal_nighty_xl_3.jpg" alt="Pranjal Nighty XL 3">
    <h3>Pranjal Nighty XL 3</h3>
    <p>Fabric: Cotton</p>
    <p>Price: ₹300</p>
    <p>Stock: 1</p>
</div>
            <div class="product">
    <img src="/static/images/products/pink_sky_blue_fancy_pattu_saree.jpg" alt="Pink Sky Blue Fancy Pattu Saree">
    <h3>Pink Sky Blue Fancy Pattu Saree</h3>
    <p>Fabric: Fancy Pattu</p>
    <p>Price: ₹3800</p>
    <p>Stock: 1</p>
</div>
            <div class="product">
    <img src="/static/images/chudi/pranjal_readymade_chudi_L_size_24.jpg" alt="Pranjal Ready Made Chudi L Size 24">
    <h3>Pranjal Ready Made Patiala Chudi L Size </h3>
    <p>Fabric: Pure Cotton</p>
    <p>Price: ₹650</p>
    <p>Stock: 1</p>
</div>


    </main>
    <a href="https://wa.me/+916369535994?text=Hi%20Kumaran%20Sarees%2C%20I%27m%20interested%20in%20your%20products!"
       target="_blank" class="whatsapp-button">
        <img src="/static/images/whatsapp.png" alt="WhatsApp" style="width:30px; height:30px;">
        Contact Us
    </a>
    <footer>
        <p><strong>Address:</strong> Kumaran Sarees, Savadi Street, Uthukottai-602026, Tamil Nadu</p>
        <p><strong>Contact:</strong> +91 6369535994</p>
        <script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>

    </footer>
<script>
  window.va = window.va || function () { (window.vaq = window.vaq || []).push(arguments); };
</script>
<script defer src="/_vercel/insights/script.js"></script>
</body>
</html>