<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kumaran Sarees</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <script src="/static/js/script.js"></script>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
<df-messenger
  intent="WELCOME"
  chat-title="KS Chatbot"
  agent-id="5031c4d1-bcd0-4404-b2fb-80cd9aee2e31"
  language-code="en"
></df-messenger>
    <header>
        <h1>KUMARAN SAREES</h1>
        <nav>
            <a href="/">Home</a>
            <div class="dropdown">
                <a href="#" class="dropdown-toggle">Saree</a>
                <div class="dropdown-menu">
                    <a href="/category/cotton_saree">Cotton Saree</a>
                    <a href="/category/plain_saree">Plain Saree</a>
                    <a href="/category/fancy_saree">Fancy Saree</a>
                    <a href="/category/fancy_pattu_saree">Fancy Pattu Saree</a>
                </div>
            </div>
            <div class="dropdown">
                <a href="#" class="dropdown-toggle">Blouse</a>
                <div class="dropdown-menu">
                    <a href="/category/design_blouse_36">Design Blouse(36 inches)</a>
                    <a href="/category/design_blouse_44">DesignBlouse(44 inches)</a>
                    <!-- Blouse varieties to be added later -->
                </div>
            </div>
            <div class="dropdown">
                <a href="#" class="dropdown-toggle">Nighty</a>
                <div class="dropdown-menu">
                    <a href="/category/xl_nighties">Nighty XL Size</a>
                    <a href="/category/xxl_nighties">Nighty XXL Size</a>
                    <a href="/category/xxxl_nighties">Nighty XXXL Size</a>

                    <!-- Nighty varieties to be added later -->
                </div>
            </div>
            <div class="dropdown">
                <a href="#" class="dropdown-toggle">Chudi</a>
                <div class="dropdown-menu">
                    <a href="/category/l_size_chudi">Chudi L size</a>
                    <a href="/category/xl_size_chudi">Chudi XL size</a>
                    <a href="/category/xxl_size_chudi">Chudi XXL size</a>
                    <a href="/category/xxxl_size_chudi">Chudi XXXL size</a>
                    <!-- Chudi varieties to be added later -->
                </div>
            </div>
        </nav>
    </header>
    <main>
        <h2>Available Models</h2>
        <h1>Pranjal Pure cotton L size Ready made</h1>
        <h2></h2>

        <h2>Scroll down to see all chudi L size</h2>
        <div class="products">
            <div class="product">
    <img src="/static/images/chudi/pranjal_readymade_chudi_L_size_1.jpg" alt="Pranjal Ready Made Chudi L Size 1">
    <h3>Pranjal Ready Made Patiala Chudi L Size </h3>
    <p>Fabric: Pure Cotton</p>
    <p>Price: ₹650</p>
    <p>Stock: 1</p>
</div>
<div class="product">
    <img src="/static/images/chudi/pranjal_readymade_chudi_L_size_2.jpg" alt="Pranjal Ready Made Chudi L Size 2">
    <h3>Pranjal Ready Made Patiala Chudi L Size </h3>
    <p>Fabric: Pure Cotton</p>
    <p>Price: ₹650</p>
    <p>Stock: 1</p>
</div>
<div class="product">
    <img src="/static/images/chudi/pranjal_readymade_chudi_L_size_3.jpg" alt="Pranjal Ready Made Chudi L Size 3">
    <h3>Pranjal Ready Made Patiala Chudi L Size </h3>
    <p>Fabric: Pure Cotton</p>
    <p>Price: ₹650</p>
    <p>Stock: 1</p>
</div>
<div class="product">
    <img src="/static/images/chudi/pranjal_readymade_chudi_L_size_4.jpg" alt="Pranjal Ready Made Chudi L Size 4">
    <h3>Pranjal Ready Made Patiala Chudi L Size </h3>
    <p>Fabric: Pure Cotton</p>
    <p>Price: ₹650</p>
    <p>Stock: 1</p>
</div>
<div class="product">
    <img src="/static/images/chudi/pranjal_readymade_chudi_L_size_5.jpg" alt="Pranjal Ready Made Chudi L Size 5">
    <h3>Pranjal Ready Made Patiala Chudi L Size </h3>
    <p>Fabric: Pure Cotton</p>
    <p>Price: ₹650</p>
    <p>Stock: 1</p>
</div>
<div class="product">
    <img src="/static/images/chudi/pranjal_readymade_chudi_L_size_6.jpg" alt="Pranjal Ready Made Chudi L Size 6">
    <h3>Pranjal Ready Made Patiala Chudi L Size </h3>
    <p>Fabric: Pure Cotton</p>
    <p>Price: ₹650</p>
    <p>Stock: 1</p>
</div>
<div class="product">
    <img src="/static/images/chudi/pranjal_readymade_chudi_L_size_7.jpg" alt="Pranjal Ready Made Chudi L Size 7">
    <h3>Pranjal Ready Made Patiala Chudi L Size </h3>
    <p>Fabric: Pure Cotton</p>
    <p>Price: ₹650</p>
    <p>Stock: 1</p>
</div>
<div class="product">
    <img src="/static/images/chudi/pranjal_readymade_chudi_L_size_8.jpg" alt="Pranjal Ready Made Chudi L Size 8">
    <h3>Pranjal Ready Made Patiala Chudi L Size </h3>
    <p>Fabric: Pure Cotton</p>
    <p>Price: ₹650</p>
    <p>Stock: 1</p>
</div>
<div class="product">
    <img src="/static/images/chudi/pranjal_readymade_chudi_L_size_9.jpg" alt="Pranjal Ready Made Chudi L Size 9">
    <h3>Pranjal Ready Made Patiala Chudi L Size </h3>
    <p>Fabric: Pure Cotton</p>
    <p>Price: ₹650</p>
    <p>Stock: 1</p>
</div>
<div class="product">
    <img src="/static/images/chudi/pranjal_readymade_chudi_L_size_10.jpg" alt="Pranjal Ready Made Chudi L Size 10">
    <h3>Pranjal Ready Made Patiala Chudi L Size </h3>
    <p>Fabric: Pure Cotton</p>
    <p>Price: ₹650</p>
    <p>Stock: 1</p>
</div>
<div class="product">
    <img src="/static/images/chudi/pranjal_readymade_chudi_L_size_11.jpg" alt="Pranjal Ready Made Chudi L Size 11">
    <h3>Pranjal Ready Made Patiala Chudi L Size </h3>
    <p>Fabric: Pure Cotton</p>
    <p>Price: ₹650</p>
    <p>Stock: 1</p>
</div>
<div class="product">
    <img src="/static/images/chudi/pranjal_readymade_chudi_L_size_12.jpg" alt="Pranjal Ready Made Chudi L Size 12">
    <h3>Pranjal Ready Made Patiala Chudi L Size </h3>
    <p>Fabric: Pure Cotton</p>
    <p>Price: ₹650</p>
    <p>Stock: 1</p>
</div>
<div class="product">
    <img src="/static/images/chudi/pranjal_readymade_chudi_L_size_13.jpg" alt="Pranjal Ready Made Chudi L Size 13">
    <h3>Pranjal Ready Made Patiala Chudi L Size </h3>
    <p>Fabric: Pure Cotton</p>
    <p>Price: ₹650</p>
    <p>Stock: 1</p>
</div>
<div class="product">
    <img src="/static/images/chudi/pranjal_readymade_chudi_L_size_14.jpg" alt="Pranjal Ready Made Chudi L Size 14">
    <h3>Pranjal Ready Made Patiala Chudi L Size </h3>
    <p>Fabric: Pure Cotton</p>
    <p>Price: ₹650</p>
    <p>Stock: 1</p>
</div>
<div class="product">
    <img src="/static/images/chudi/pranjal_readymade_chudi_L_size_15.jpg" alt="Pranjal Ready Made Chudi L Size 15">
    <h3>Pranjal Ready Made Patiala Chudi L Size </h3>
    <p>Fabric: Pure Cotton</p>
    <p>Price: ₹650</p>
    <p>Stock: 1</p>
</div>
<div class="product">
    <img src="/static/images/chudi/pranjal_readymade_chudi_L_size_16.jpg" alt="Pranjal Ready Made Chudi L Size 16">
    <h3>Pranjal Ready Made Patiala Chudi L Size </h3>
    <p>Fabric: Pure Cotton</p>
    <p>Price: ₹650</p>
    <p>Stock: 1</p>
</div>
<div class="product">
    <img src="/static/images/chudi/pranjal_readymade_chudi_L_size_17.jpg" alt="Pranjal Ready Made Chudi L Size 17">
    <h3>Pranjal Ready Made Patiala Chudi L Size </h3>
    <p>Fabric: Pure Cotton</p>
    <p>Price: ₹650</p>
    <p>Stock: 1</p>
</div>
<div class="product">
    <img src="/static/images/chudi/pranjal_readymade_chudi_L_size_18.jpg" alt="Pranjal Ready Made Chudi L Size 18">
    <h3>Pranjal Ready Made Patiala Chudi L Size </h3>
    <p>Fabric: Pure Cotton</p>
    <p>Price: ₹650</p>
    <p>Stock: 1</p>
</div>
<div class="product">
    <img src="/static/images/chudi/pranjal_readymade_chudi_L_size_19.jpg" alt="Pranjal Ready Made Chudi L Size 19">
    <h3>Pranjal Ready Made Patiala Chudi L Size </h3>
    <p>Fabric: Pure Cotton</p>
    <p>Price: ₹650</p>
    <p>Stock: 1</p>
</div>
<div class="product">
    <img src="/static/images/chudi/pranjal_readymade_chudi_L_size_20.jpg" alt="Pranjal Ready Made Chudi L Size 20">
    <h3>Pranjal Ready Made Patiala Chudi L Size </h3>
    <p>Fabric: Pure Cotton</p>
    <p>Price: ₹650</p>
    <p>Stock: 1</p>
</div>
<div class="product">
    <img src="/static/images/chudi/pranjal_readymade_chudi_L_size_21.jpg" alt="Pranjal Ready Made Chudi L Size 21">
    <h3>Pranjal Ready Made Patiala Chudi L Size </h3>
    <p>Fabric: Pure Cotton</p>
    <p>Price: ₹650</p>
    <p>Stock: 1</p>
</div>
<div class="product">
    <img src="/static/images/chudi/pranjal_readymade_chudi_L_size_22.jpg" alt="Pranjal Ready Made Chudi L Size 22">
    <h3>Pranjal Ready Made Patiala Chudi L Size </h3>
    <p>Fabric: Pure Cotton</p>
    <p>Price: ₹650</p>
    <p>Stock: 1</p>
</div>
<div class="product">
    <img src="/static/images/chudi/pranjal_readymade_chudi_L_size_23.jpg" alt="Pranjal Ready Made Chudi L Size 23">
    <h3>Pranjal Ready Made Patiala Chudi L Size </h3>
    <p>Fabric: Pure Cotton</p>
    <p>Price: ₹650</p>
    <p>Stock: 1</p>
</div>
            <div class="product">
    <img src="/static/images/chudi/pranjal_readymade_chudi_L_size_24.jpg" alt="Pranjal Ready Made Chudi L Size 24">
    <h3>Pranjal Ready Made Patiala Chudi L Size </h3>
    <p>Fabric: Pure Cotton</p>
    <p>Price: ₹650</p>
    <p>Stock: 1</p>
</div>
        </div>
    </main>
    <a href="https://wa.me/+916369535994?text=Hi%20Kumaran%20Sarees%2C%20I%27m%20interested%20in%20L%20size%20Ready%20Made%chudi!"
       target="_blank" class="whatsapp-button">
        <img src="/static/images/whatsapp.png" alt="WhatsApp" style="width:30px; height:30px;">
        Contact Us
    </a>
    <footer>
        <p><strong>Address:</strong> Kumaran Sarees, Savadi Street, Uthukottai-602026, Tamil Nadu</p>
        <p><strong>Contact:</strong> +91 6369535994</p>
    </footer>
<script>
  window.va = window.va || function () { (window.vaq = window.vaq || []).push(arguments); };
</script>
<script defer src="/_vercel/insights/script.js"></script>
</body>
</html>