<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plain Sarees - Kumaran Sarees</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <script src="/static/js/script.js"></script>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">

</head>
<body>

    <header>
        <h1>KUMARAN SAREES</h1>
        <nav>
            <a href="/">Home</a>
            <div class="dropdown">
                <a href="#" class="dropdown-toggle">Saree</a>
                <div class="dropdown-menu">
                    <a href="/category/cotton_saree">Cotton Saree</a>
                    <a href="/category/plain_saree">Plain Saree</a>
                    <a href="/category/fancy_saree">Fancy Saree</a>
                    <a href="/category/fancy_pattu_saree">Fancy Pattu Saree</a>
                </div>
            </div>
            <div class="dropdown">
                <a href="#" class="dropdown-toggle">Blouse</a>
                <div class="dropdown-menu">
                    <a href="/category/design_blouse_36">Design Blouse(36 inches)</a>
                    <a href="/category/design_blouse_44">DesignBlouse(44 inches)</a>
                    <!-- Blouse varieties to be added later -->
                </div>
            </div>
            <div class="dropdown">
                <a href="#" class="dropdown-toggle">Nighty</a>
                <div class="dropdown-menu">
                    <a href="/category/xl_nighties">Nighty XL Size</a>

                    <!-- Nighty varieties to be added later -->
                </div>
            </div>
            <div class="dropdown">
                <a href="#" class="dropdown-toggle">Chudi</a>
                <div class="dropdown-menu">
                    <a href="/category/l_size_chudi">Chudi L size</a>
                    <a href="/category/xl_size_chudi">Chudi XL size</a>
                    <a href="/category/xxl_size_chudi">Chudi XXL size</a>
                    <a href="/category/xxxl_size_chudi">Chudi XXXL size</a>
                    <!-- Chudi varieties to be added later -->
                </div>
            </div>
        </nav>
    </header>
    <main>
        <h2>Available Models</h2>
        <h1>Many Color Plain Sarees</h1>
        <h1>Matching Design Blouses</h1>
        <h2>Scroll Below to view all Plain Sarees </h2>

        <div class="products">
            <div class="product">
                <img src="/static/images/products/rose_plain_saree.jpg" alt="Rose Plain Saree">
                <h3>Rose Plain Saree</h3>
                <p>Fabric: Crush Material</p>
                <p>Price: ₹700</p>
                <p>Stock: 2</p>
            </div>
            <div class="product">
                <img src="/static/images/products/yellow_plain_saree.jpg" alt="Yellow Plain Saree">
                <h3>Yellow Plain Saree</h3>
                <p>Fabric: Crush Material</p>
                <p>Price: ₹700</p>
                <p>Stock: 2</p>
            </div>
            <div class="product">
                <img src="/static/images/products/green_plain_saree.jpg" alt="Green Plain Saree">
                <h3>Green Plain Saree</h3>
                <p>Fabric: Crush Material</p>
                <p>Price: ₹700</p>
                <p>Stock: 5</p>
            </div>
            <div class="product">
                <img src="/static/images/products/pink_plain_saree.jpg" alt="Pink Plain Saree">
                <h3>Pink Plain Saree</h3>
                <p>Fabric: Crush Material</p>
                <p>Price: ₹700</p>
                <p>Stock: 2</p>
            </div>
        </div>
    </main>
    <a href="https://wa.me/+916369535994?text=Hi%20Kumaran%20Sarees%2C%20I%27m%20interested%20in%20your%20products!"
       target="_blank" class="whatsapp-button">
        <img src="/static/images/whatsapp.png" alt="WhatsApp" style="width:30px; height:30px;">
        Contact Us
    </a>
    <footer>
        <p><strong>Address:</strong> Kumaran Sarees, Savadi Street,Uthukottai-602026 ,Tamil Nadu</p>
        <p><strong>Contact:</strong> Kumaran Sarees, +91 6369535994</p>
    </footer>
</body>
</html>