<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plain Sarees - Kumaran Sarees</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <script src="/static/js/script.js"></script>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">

</head>
<body>

    <header>
        <h1>KUMARAN SAREES</h1>
        <nav>
            <a href="/">Home</a>
            <div class="dropdown">
                <a href="#" class="dropdown-toggle">Saree</a>
                <div class="dropdown-menu">
                    <a href="/category/cotton_saree">Cotton Saree</a>
                    <a href="/category/plain_saree">Plain Saree</a>
                    <a href="/category/fancy_saree">Fancy Saree</a>
                    <a href="/category/fancy_pattu_saree">Fancy Pattu Saree</a>
                </div>
            </div>
            <div class="dropdown">
                <a href="#" class="dropdown-toggle">Blouse</a>
                <div class="dropdown-menu">
                    <a href="/category/design_blouse_36">Design Blouse(36 inches)</a>
                    <a href="/category/design_blouse_44">DesignBlouse(44 inches)</a>
                    <!-- Blouse varieties to be added later -->
                </div>
            </div>
            <div class="dropdown">
                <a href="#" class="dropdown-toggle">Nighty</a>
                <div class="dropdown-menu">
                    <a href="/category/xl_nighties">Nighty XL Size</a>
                    <a href="/category/xxl_nighties">Nighty XXL Size</a>

                    <!-- Nighty varieties to be added later -->
                </div>
            </div>
            <div class="dropdown">
                <a href="#" class="dropdown-toggle">Chudi</a>
                <div class="dropdown-menu">
                    <a href="/category/l_size_chudi">Chudi L size</a>
                    <a href="/category/xl_size_chudi">Chudi XL size</a>
                    <a href="/category/xxl_size_chudi">Chudi XXL size</a>
                    <a href="/category/xxxl_size_chudi">Chudi XXXL size</a>
                    <!-- Chudi varieties to be added later -->
                </div>
            </div>
        </nav>
    </header>
    <main>

        <h2>Available Models</h2>
        <h1>VM zip type Nighties</h1>
        <h1>Pranjal  Nighties</h1>


        <h2>Scroll Below to view all XXL Nighties </h2>
        <div class="products">

            <!-- Start from 20 to 43 -->
            <div class="product">
    <img src="/static/images/nighties/pranjal_nighty_xxl_1.jpg" alt="Pranjal Nighty xXL ">
    <h3>Pranjal Nighty xXL </h3>
    <p>Fabric: Cotton</p>
    <p>Price: ₹320</p>
    <p>Stock: 1</p>
</div>
<div class="product">
    <img src="/static/images/nighties/pranjal_nighty_xxl_2.jpg" alt="Pranjal Nighty xXL ">
    <h3>Pranjal Nighty xXL </h3>
    <p>Fabric: Cotton</p>
    <p>Price: ₹320</p>
    <p>Stock: 1</p>
</div>
<div class="product">
    <img src="/static/images/nighties/pranjal_nighty_xxl_3.jpg" alt="Pranjal Nighty xXL ">
    <h3>Pranjal Nighty xXL </h3>
    <p>Fabric: Cotton</p>
    <p>Price: ₹320</p>
    <p>Stock: 1</p>
</div>
<div class="product">
    <img src="/static/images/nighties/pranjal_nighty_xxl_4.jpg" alt="Pranjal Nighty xXL ">
    <h3>Pranjal Nighty xXL </h3>
    <p>Fabric: Cotton</p>
    <p>Price: ₹320</p>
    <p>Stock: 1</p>
</div>
<div class="product">
    <img src="/static/images/nighties/pranjal_nighty_xxl_5.jpg" alt="Pranjal Nighty xXL ">
    <h3>Pranjal Nighty xXL </h3>
    <p>Fabric: Cotton</p>
    <p>Price: ₹320</p>
    <p>Stock: 1</p>
</div>
<div class="product">
    <img src="/static/images/nighties/pranjal_nighty_xxl_6.jpg" alt="Pranjal Nighty xXL ">
    <h3>Pranjal Nighty xXL </h3>
    <p>Fabric: Cotton</p>
    <p>Price: ₹320</p>
    <p>Stock: 1</p>
</div>
<div class="product">
    <img src="/static/images/nighties/pranjal_nighty_xxl_7.jpg" alt="Pranjal Nighty xXL ">
    <h3>Pranjal Nighty xXL </h3>
    <p>Fabric: Cotton</p>
    <p>Price: ₹320</p>
    <p>Stock: 1</p>
</div>
<div class="product">
    <img src="/static/images/nighties/pranjal_nighty_xxl_8.jpg" alt="Pranjal Nighty xXL ">
    <h3>Pranjal Nighty xXL </h3>
    <p>Fabric: Cotton</p>
    <p>Price: ₹320</p>
    <p>Stock: 1</p>
</div>
<div class="product">
    <img src="/static/images/nighties/pranjal_nighty_xxl_9.jpg" alt="Pranjal Nighty xXL ">
    <h3>Pranjal Nighty xXL </h3>
    <p>Fabric: Cotton</p>
    <p>Price: ₹320</p>
    <p>Stock: 1</p>
</div>
<div class="product">
    <img src="/static/images/nighties/pranjal_nighty_xxl_10.jpg" alt="Pranjal Nighty xXL ">
    <h3>Pranjal Nighty xXL </h3>
    <p>Fabric: Cotton</p>
    <p>Price: ₹320</p>
    <p>Stock: 1</p>
</div>
<div class="product">
    <img src="/static/images/nighties/pranjal_nighty_xxl_11.jpg" alt="Pranjal Nighty xXL ">
    <h3>Pranjal Nighty xXL </h3>
    <p>Fabric: Cotton</p>
    <p>Price: ₹320</p>
    <p>Stock: 1</p>
</div>
<div class="product">
    <img src="/static/images/nighties/pranjal_nighty_xxl_12.jpg" alt="Pranjal Nighty xXL ">
    <h3>Pranjal Nighty xXL </h3>
    <p>Fabric: Cotton</p>
    <p>Price: ₹320</p>
    <p>Stock: 1</p>
</div>
<div class="product">
    <img src="/static/images/nighties/pranjal_nighty_xxl_13.jpg" alt="Pranjal Nighty xXL ">
    <h3>Pranjal Nighty xXL </h3>
    <p>Fabric: Cotton</p>
    <p>Price: ₹320</p>
    <p>Stock: 1</p>
</div>
<div class="product">
    <img src="/static/images/nighties/pranjal_nighty_xxl_14.jpg" alt="Pranjal Nighty xXL ">
    <h3>Pranjal Nighty xXL </h3>
    <p>Fabric: Cotton</p>
    <p>Price: ₹320</p>
    <p>Stock: 1</p>
</div>
<div class="product">
    <img src="/static/images/nighties/pranjal_nighty_xxl_15.jpg" alt="Pranjal Nighty xXL ">
    <h3>Pranjal Nighty xXL </h3>
    <p>Fabric: Cotton</p>
    <p>Price: ₹320</p>
    <p>Stock: 1</p>
</div>
<div class="product">
    <img src="/static/images/nighties/pranjal_nighty_xxl_16.jpg" alt="Pranjal Nighty xXL ">
    <h3>Pranjal Nighty xXL </h3>
    <p>Fabric: Cotton</p>
    <p>Price: ₹320</p>
    <p>Stock: 1</p>
</div>
<div class="product">
    <img src="/static/images/nighties/pranjal_nighty_xxl_17.jpg" alt="Pranjal Nighty xXL ">
    <h3>Pranjal Nighty xXL </h3>
    <p>Fabric: Cotton</p>
    <p>Price: ₹320</p>
    <p>Stock: 1</p>
</div>
<div class="product">
    <img src="/static/images/nighties/pranjal_nighty_xxl_18.jpg" alt="Pranjal Nighty xXL ">
    <h3>Pranjal Nighty xXL </h3>
    <p>Fabric: Cotton</p>
    <p>Price: ₹320</p>
    <p>Stock: 1</p>
</div>
<div class="product">
    <img src="/static/images/nighties/pranjal_nighty_xxl_19.jpg" alt="Pranjal Nighty xXL ">
    <h3>Pranjal Nighty xXL </h3>
    <p>Fabric: Cotton</p>
    <p>Price: ₹320</p>
    <p>Stock: 1</p>
</div>
<div class="product">
    <img src="/static/images/nighties/pranjal_nighty_xxl_20.jpg" alt="Pranjal Nighty xXL ">
    <h3>Pranjal Nighty xXL </h3>
    <p>Fabric: Cotton</p>
    <p>Price: ₹320</p>
    <p>Stock: 1</p>
</div>


        </div>
    </main>
    <a href="https://wa.me/+916369535994?text=Hi%20Kumaran%20Sarees%2C%20I%27m%20interested%20in%20XXL%20Nighties!"
       target="_blank" class="whatsapp-button">
        <img src="/static/images/whatsapp.png" alt="WhatsApp" style="width:30px; height:30px;">
        Contact Us
    </a>
    <footer>
        <p><strong>Address:</strong> Kumaran Sarees, Savadi Street,Uthukottai-602026 ,Tamil Nadu</p>
        <p><strong>Contact:</strong> Kumaran Sarees, +91 6369535994</p>
    </footer>
</body>
</html>